@media screen and (min-width: 1601px) {
    
    .window-container {
        width: 60%;
        height: 80%;
    }
    
    .section__pic-container {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 1600px) {
    
    .window-container {
        width: 60%;
        height: 80%;
    }
    
    .section__pic-container {
        width: 240px;
        height: 240px;
    }
}

@media screen and (max-width: 1400px) {
    
    .window-container {
        width: 60%;
        height: 80%;
    }
    
    .section__pic-container {
        width: 230px;
        height: 230px;
    }
}

@media screen and (max-width: 1200px) {
    .section__pic-container {
        width: 180px;
        height: 180px;
    }
    
    .window-container {
        width: 70%;
        height: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .section__pic-container {
        width: 160px;
        height: 160px;
    }
    
    .window-container {
        width: 70%;
        height: 80%;
    }
}
@media screen and (max-width: 800px) {
    .section__pic-container {
        width: 150px;
        height: 150px;
    }
    
    .window-container {
        width: 70%;
        height: 80%;
    }
}

@media screen and (max-width: 600px) {

    .section__pic-container {
        width: 140px;
        height: 140px;
    }

    footer {
        height: 40vh;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .content {
        flex-direction: column;
    }
} 

@media screen and (max-width: 400px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 106.5vw;
        font-weight: inherit;
    }
}

@media screen and (max-width: 393px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 98vw;
        font-weight: inherit;
    }
}

@media screen and (max-width: 391px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 98.5vw;
        font-weight: inherit;
    }
}
@media screen and (max-width: 384px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 100.5vw;
        font-weight: inherit;
    }
}
@media screen and (max-width: 376px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 102.5vw;
        font-weight: inherit;
    }
}
@media screen and (max-width: 360px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 106.5vw;
        font-weight: inherit;
    }
}

@media screen and (max-width: 300px) {

    .section__pic-container {
        width: 100px;
        height: 100px;
    }

    #start-menu {
        width: 80vw;
    }

    #window-start-menu-blue {
        width: 102.5vw;
    }

    .window-container {
        width: 80%;
        height: 80%;
    }
}
